.modal {
  border-radius: 3px;
}
.modal-header {
  text-align: center;
}
.modal-header p {
  color: #8b91a0;
}
.modal-body {
  background-color: #e5e9ec;
}
.modal-content {
  border: 0;
}
.modal-footer {
  border-top: none;
  box-shadow: none;
  background-color: #F3F5F6;
  margin-top: 0;
  text-align: right;
}
.semi-bold {
    font-weight: 600;
}
.grid.simple .grid-body {
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #dddddd;
  color: #6f7b8a;
}

.nav-tabs > li.active {
    border-top: 2px solid;
}
/*
.checkbox label:before {
    content: "";
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-right: 10px;
    position: absolute;
    left: 0px;
    top: 1.4px;
    background-color: #ffffff;
    border: 1px solid #c2c6cb;
    border-radius: 3px;
    transition: border 0.2s linear 0s,color 0.2s linear 0s;
}

.checkbox input[type=checkbox] {
    display: none;
}

.checkbox.check-success input[type=checkbox]:checked + label:before {
    background-color: #0090d9;
    border: 1px solid #0090d9;
}*/

/******* Comments ********/
/**

 * Oscuro: #283035
 * Azul: #03658c
 * Detalle: #c7cacb
 * Fondo: #dee1e3
 ----------------------------------*/

/** ====================
 * Lista de Comentarios
 =======================*/
.comments-container {
	margin: 60px auto 15px;
	width: 768px;
}

.comments-container h1 {
	font-size: 36px;
	color: #283035;
	font-weight: 400;
}

.comments-container h1 a {
	font-size: 18px;
	font-weight: 700;
}

.comments-list {
	margin-top: 30px;
	position: relative;
}

/**
 * Lineas / Detalles
 -----------------------*/
.comments-list:before {
	content: '';
	width: 2px;
	height: 100%;
	background: #c7cacb;
	position: absolute;
	left: 32px;
	top: 0;
}

.comments-list:after {
	content: '';
	position: absolute;
	background: #c7cacb;
	bottom: 0;
	left: 27px;
	width: 7px;
	height: 7px;
	border: 3px solid #dee1e3;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.reply-list:before, .reply-list:after {display: none;}
.reply-list li:before {
	content: '';
	width: 60px;
	height: 2px;
	background: #c7cacb;
	position: absolute;
	top: 25px;
	left: -55px;
}


.comments-list li {
	margin-bottom: 15px;
	display: block;
	position: relative;
}

.comments-list li:after {
	content: '';
	display: block;
	clear: both;
	height: 0;
	width: 0;
}

.reply-list {
	padding-left: 88px;
	clear: both;
	margin-top: 15px;
}
/**
 * Avatar
 ---------------------------*/
.comments-list .comment-avatar {
	width: 65px;
	height: 65px;
	position: relative;
	z-index: 99;
	float: left;
	border: 3px solid #F59E2D;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	overflow: hidden;
}

.comments-list .comment-avatar img {
	width: 100%;
	height: 100%;
}

.reply-list .comment-avatar {
	width: 50px;
	height: 50px;
}

.comment-main-level:after {
	content: '';
	width: 0;
	height: 0;
	display: block;
	clear: both;
}
/**
 * Caja del Comentario
 ---------------------------*/
.comments-list .comment-box {
	width: 680px;
	float: right;
	position: relative;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
	box-shadow: 0 1px 1px rgba(0,0,0,0.15);
}

.comments-list .comment-box:before, .comments-list .comment-box:after {
	content: '';
	height: 0;
	width: 0;
	position: absolute;
	display: block;
	border-width: 10px 12px 10px 0;
	border-style: solid;
	border-color: transparent #f2efef;
	top: 8px;
	left: -11px;
}

.comments-list .comment-box:before {
	border-width: 11px 13px 11px 0;
	border-color: transparent rgba(0,0,0,0.05);
	left: -12px;
}

.reply-list .comment-box {
	width: 610px;
}
.comment-box .comment-head {
	background: #f2efef;
	padding: 10px 12px;
	border-bottom: 1px solid #939393;
	overflow: hidden;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}

.comment-box .comment-head .comment_date {
	float: right;
	margin-left: 14px;
	position: relative; 
	color: #A6A6A6;
	cursor: pointer;
	-webkit-transition: color 0.3s ease;
	-o-transition: color 0.3s ease;
	transition: color 0.3s ease;
}

.comment-box .comment-head i:hover {
	color: #03658c;
}

.comment-box .comment-name {
	color: #283035;
	font-size: 14px;
	font-weight: 700;
	float: left;
	margin-right: 10px;
}

.comment-box .comment-name a {
	color: #283035;
}

.comment-box .comment-head span {
	float: left;
	color: #999;
	font-size: 13px;
	position: relative;
	top: 1px;
}

.comment-box .comment-content {
	background: #f2efef;
	padding: 12px;
	font-size: 15px;
	color: #595959;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}
.comment-box .comment-content h5{
	font-family:'Roboto-light'
}

.event_block .join_box p span{
font-size:14px; 
font-family:'Roboto-light';
color:#F59E2D;

}

.event_block .invite_box p span{
font-size:14px; 
font-family:'Roboto-light';
color:#F59E2D;

}


.comment-box .comment-name.by-author, .comment-box .comment-name.by-author a {color: #03658c;}
.comment-box .comment_date{float: right;}

/*.comment-box .comment-name.by-author:after {
	content: 'autor';
	background: #03658c;
	color: #FFF;
	font-size: 12px;
	padding: 3px 5px;
	font-weight: 700;
	margin-left: 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}*/

/** =====================
 * Responsive
 ========================*/
@media only screen and (max-width: 766px) {
	.comments-container {
		width: 480px;
	}

	.comments-list .comment-box {
		width: 390px;
	}

	.reply-list .comment-box {
		width: 320px;
	}
}

img.img-circle.nav-user-photo{
    max-width: 65px;
}


.bx-viewport{  overflow: hidden;}
.bxslider img{ 
    width: 100%;
} 
.question span {
    color: red;
    font-weight: 200;
}
.question {
    color: #696767;
}
.event_block .session h5{
    margin: 5px 0 20px 20px;
}
.my_flex_name a{
    color:#f59e2d;
}
.my_flex {
    margin-bottom: 0px !important;
    height: 300px;
}
.profile-usertitle-job {
    text-transform: uppercase;
    color: #f59e2d;
    font-size: 15px;
    font-weight: 800;
    margin-bottom: 7px;
    text-align: center;
}
.profile-usertitle-job span{
    color: black;
}

 
.profile-sidebar .portlet.light { 
	background-color: #f9f9f9 !important;
}

.profile-content{}
.profile-content .portlet.light > .portlet-title {
	padding: 0;
	min-height: 48px;
	margin: 0;
	margin-bottom:30px
}
.profile-content .portlet.light > .portlet-title > .caption.caption-md > .caption-subject {
	font-size: 24px;
}
.comment-main-level [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

img.img-circle.nav-user-photo{margin:0 auto}



.profile-content .event_block{padding:0}
.profile-content .event_block .event_inner{ padding:0}



.btn-warning {
	color: #000;
	background-color: #F59E2D;
	border-color: #F59E2D;
}


.join_box .row{
padding-bottom:10px;
border-bottom:1px solid #f1f1f1; margin-bottom:10px}

.footer-nav > nav > ul > li a {
    color: white !important;
}


.event_block .invite_box .row{
	padding-bottom:10px;
	border-bottom:1px solid #f1f1f1; margin-bottom:10px
}

.form-footer {
    background-color: black;
    color: white;
    text-align: center;
    height: 55px;
    border-radius: 10px;
}

.form-footer span{
    font-size: 20px;
}

.join_box p span {
    font-size: 14px;
    font-family: 'Roboto-light';
    color: #F59E2D;
}

.intl-tel-input.allow-dropdown {
    width: 100%;
}
.modal.bs-invite-modal-md .modal-dialog {
    width: 480px;
}
.row.viewed {
    background-color: #faf0e8;
    margin-bottom: 3px;
    padding-bottom: 5px;
}

.notify-bubble {
    display: none;
}


/* it will work better with this box-sizing, you may adapt it to your needs */
/*html { box-sizing: border-box; }
*, *:before, *:after {
  box-sizing: inherit;
}*/

.flexform_box.payment_box.joiner .form-group {
    border: none;
    margin-top: 46px;
}
.flexform_box.payment_box.joiner .row {
    border-bottom: 2px solid #ccc;
}

.simple-tooltip-container {
  position: relative;
}
 
.simple-tooltip-tooltip {
  position: absolute;
  z-index: 666;
  top: 50%;
  left: 50%;
  width: 15em;
  
  background: #fff;
  background: rgba (255, 255, 255, .9);
  border: 1px solid #882525;
  border-radius: .5em;
  padding: 1em;
  text-align: left;
}
.simple-tooltip-tooltip__title {
  margin: 0;
  line-height: 1;
}
.simple-tooltip-tooltip p {
  font-size: 1em;
}
.simple-tooltip-tooltip__close {
  float: right;
  /** fix typo inputs **/
  font-family: inherit;
  font-size: 1em;
  background: #882525;
  color: #fff;
  border-radius: 1em;
}

/* it can be easily adapted in media-queries for tablets/mobile */

/* for this example: tablets */
@media (max-width: 55.625em) {

  .simple-tooltip-container {
    position: static;
	
  }
  .simple-tooltip-tooltip {
    position: static;
	  width: auto;
	  margin-top: 1em;
  }
  
}

/* another example (“it’s customisable” button) */
/* tooltip modal */
.left-tooltip-tooltip {
	left: auto;
	right: 0;
	top: 0;
	bottom: 0;
	height: 100%;
	z-index: 667;
	position: fixed;
	width: 100%;
	max-width: 500px;
	background: #f00;
	padding: .5em;
	font-size: 1em;
	border: 0;
	animation: fromleft .3s linear;
	background: #f00 linear-gradient(to bottom, #627e8a 3em, #f7f7f7 3em) repeat scroll 0 0;
}
.left-tooltip-tooltip__close {
  background: #f59d2d none repeat scroll 0 0;
  border: medium solid;
  color: #fff;
  float: right;
  padding: 2px;
  width: 80px;
}
.left-tooltip-tooltip__closetext__container {
  color: #fff !important;
}
.js-tooltip.btn-xs.btn-equal.btn-mini {
  background-color: #627e8a;
  border: 3px solid #f59e2d;
  color: #fff;
  font-size: 15px;
}

.left-tooltip-tooltip__title {
  font-size: 1.2em;
  margin: 0;
  color: #fff;
  font-weight: normal;
  text-align: center;
}

@-webkit-keyframes fromleft {
  0%   { width: 0; }
  100% { width: 25em; }
}
@keyframes fromleft {
  0%   { width: 0; }
  100% { width: 25em; }
}

.option {
    color: black !important;
    font-size: 12px !important;
}

.btn.btn-warning.btn-banner {
    width: 110px;
}
.modal-body {
    border-top: 2px solid #f59e2d;
}

.carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
	display: block;
	max-width: 100%;
	height: 100%;
}

/************* Privacy Page ********************/
.top-msg p {
    margin: 15px 0 10px 0;
}
.main-title {
	color: #f59d2d;
	font-weight: bold;
}
.topic-title li {
	list-style: decimal;
	font-weight: bold;
        margin: 10px 0px 10px 15px;
}

.table > tbody > tr > td {
    border-top: 0px;
}


.support_mail h4{
    color:#fff;
}

.support_mail{
    background-color: #f59d2c;
    border: 1px solid #e3e3e3;
}